<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sistemacontrol">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="System_Core"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".neonatologia"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".cursos" />
        </activity>

        <activity
            android:name=".geriatria"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".cursos" />
        </activity>

        <activity
            android:name=".urgencia"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".cursos" />
        </activity>

        <activity
            android:name=".embriologia"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".cursos" />
        </activity>

        <activity
            android:name=".fisiologia"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".cursos" />
        </activity>

        <activity
            android:name=".anatomia"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".cursos" />
        </activity>

        <activity
            android:name=".usoguantes"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".procedimiento" />
        </activity>

        <activity
            android:name=".emergencia"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".procedimiento" />
        </activity>

        <activity
            android:name=".embarazo"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".procedimiento" />
        </activity>

        <activity
            android:name=".usocubreboca"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".procedimiento" />
        </activity>

        <activity
            android:name=".lavamano"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".procedimiento" />
        </activity>

        <activity
            android:name=".privacidad"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".index" />
        </activity>

        <activity
            android:name=".info_lugar"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".index" />
        </activity>

        <activity
            android:name=".contacto"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".index" />
        </activity>

        <activity
            android:name=".procedimiento"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".index" />
        </activity>

        <activity
            android:name=".cursos"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".index" />
        </activity>

        <activity
            android:name=".infopaciente"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".index" />
        </activity>

        <activity
            android:name=".index"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>